/* Estilos base */
.pagina1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100v;
   
}




body {
    background-color: #FFF5E5;
    margin: 0; /* Elimina el margen por defecto */
}

.logo {
    position: relative;
    margin-right: 670px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(../../multimedia/Luci.png);
    background-size: cover;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.726);
}

.info {
    position: absolute;
    border: solid 1px black;
    margin-left: 300px;
    border-radius: 15px;
    background-color: #2E2E2E;
    height: 300px;
    width: 700px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.726);
}

.relleno {
    background-color: #B8B8B8;
    height: 64.02px;
    width: 50px;
}
.linea1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: solid 1px black; */
    height: 550px;
    width: 150px;
    margin-right: 1350px;
    margin-top: 50px;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .logo {
        margin-right: 0; /* Centra el logo en pantallas pequeñas */
        height: 150px;
        width: 150px;
    }

    .info {
        margin-left: 0; /* Centra la información en pantallas pequeñas */
        width: 80%; /* Ajusta el ancho al tamaño de la pantalla */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centra el elemento */
    }

    .relleno {
        margin-left: 0; /* Ajusta el margen en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .logo {
        height: 100px;
        width: 100px;
    }

    .info {
        height: 300px; /* Ajusta la altura para pantallas muy pequeñas */
    }
}
