/* Estilos base */

.pagina1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


html {
    scroll-behavior: smooth;
}

.titulo1 {
    position: absolute;
    top: 5px;
    font-family: TT drugs;
    font-size: 80px;
}

body {
    background-color: #FFF5E5;
    margin: 0; /* Elimina el margen por defecto */
}

.logo {
    position: relative;
    margin-right: 670px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(../../multimedia/Luci.png);
    background-size: cover;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.726);
}

.info {
    position: absolute;
    border: solid 1px black;
    margin-left: 300px;
    border-radius: 15px;
    background-color: #2E2E2E;
    height: 300px;
    width: 700px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.726);
}

.relleno {
    background-color: #B8B8B8;
    height: 64.02px;
    width: 50px;
}

.linea1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: solid 1px black; */
    height: 550px;
    width: 150px;
    margin-right: 1350px;
    margin-top: 50px;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    
    .logo {
        margin-right: 500px;
        height: 250px;
        width: 250px;
    }

    .info {
        margin-left: 200px;
        height: 250px;
        width: 600px;
    }

    .titulo1 {
        font-size: 60px;
    }
    .linea1{
        margin-left: 500px;
    }
}

@media (max-width: 900px) {
    .pagina1 {
        flex-direction: row;
        
    }
    .marco{
        display: flex;
        flex-direction: column;
        margin-right: 500px;
        margin-bottom:400px;
    }
    .logo {
        margin-right: 300px;
        
        height: 300px;
        width: 300px;
     
    }

    .info {
        margin-top: 350px;
        margin-left: 10px;
        height: 350px;
        width: 520px;
    }

    .titulo1 {
        font-size: 85px;
    }

    .linea1 {
        position: static;
        margin-right: 90px;
        width: 100px;
    }
}

@media (max-width: 600px) {
    .pagina1 {
        flex-direction: row;
        
    }
    .marco{
        display: flex;
        flex-direction: column-reverse;
        margin-right: 550px;
        margin-top: 400px;
    }

    .logo {
        margin-right: 0;
        height: 250px;
        width: 250px;
        margin-bottom: 20px;
    }

    .info {
        position: static;
        margin: 0 auto;
        height: 220px;
        width: 350px;
        font-size: 10px;
        margin-bottom: 50px;
    }

    .titulo1 {
        font-size: 70px;
        text-align: center;
    }

    .linea1 {
        position: static;
        
        margin-right: 50px;
        margin-bottom: 100px;
        width: 100px;
        height: 400px;
    }
}

@media (max-width: 450px)  {     
    .pagina1{
        display: flex;

    }
   .marco{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 400px;

    margin-right: 50px;
    transform:translateX(-280px) ;
    
    
   
   }
   .marco div{
    margin: 0;
   }
   .marco img{
    margin: 0;
   }
    .logo {
        height: 200px;
        width: 200px;
        margin-bottom: 2px;
        margin-right: 65px;
        transform: translateX(20px);
        
    }

    .info {
        height: 300px;
        width: 250px;
        font-size: 10px;
        margin-right: 40px;
       
        
    }

    .titulo1 {
      
        font-size: 50px;
    }

    .linea1 {
        transform: translateX(-240px);
        margin-bottom: 500px;
        height: 200px;
        width: 70px;
    }
}
