
.imegenesman{
 
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(130px, 1fr)
    );
    margin-left: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imegenesman img{
    border-radius: 15px;
    height: 400px;
    width: 500px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.726);
    margin: 10px;
    margin-left: 50px;

}
.imegenesman img:hover{
    transform: translateY(-10px);
 
  



}
#man{
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
    .paginaElsitio{
      display: flex;
      
      flex-wrap: wrap;
    }
    .infoelsitio{
      display:flex;
      
      width: 250px;
      height: 700px;
    }
    #man{
        width: 200px;
        height: auto;
    }
    .imegenesman{
      transform: translateX(-40px);
      display: flex;
      flex-wrap: wrap;
    }
    .imegenesman img{
        height: 400px;
        width: 250px;
    }
    .imegenesman img:hover{
      transform: translateY(1px);
    }
    
      
    }
